@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Teko', sans-serif;
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: #232323;
}

.header {
  height: 100vh;
}

.header .slick-slider {
  margin-bottom: 0;
}

.header .header-slider {
  position: relative;
  height: 100vh;
}

.header .header-slider .slick-list {
  height: 100vh;
}

.header .header-slider .block .img img {
  width: 100%;
  height: 100vh;
}

.header .header-slider .slick-dots {
  bottom: 0;
  top: 50%;
  right: 110px;
  text-align: end;
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
  width: 20px;
  height: 70px;
}

.header .header-slider .slick-dots li {
  margin: 0;
  margin-bottom: 15px;
}

.header .header-slider .slick-dots li:last-of-type {
  margin-bottom: 0;
}

.header .header-slider .slick-dots li button {
  padding: 0;
}

.header .header-slider .slick-dots li button::before {
  font-size: 60px;
  opacity: 1;
  color: transparent;
  border: 4px solid #3E3E3E;
  border-radius: 50%;
}

.header .header-slider .slick-dots .slick-active button::before {
  border: 4px solid #004cff;
}

.header .header-content .nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1170px;
}

.header .header-content .nav .menu a {
  text-transform: uppercase;
  margin-left: 45px;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.33px;
  color: #404040;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-content .nav .menu a:hover {
  color: #004cff;
}

.header .header-content .nav .menu a:first-of-type {
  margin-left: 0;
}

.header .header-content .nav .shopping-btn button {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.33px;
  background: #004cff;
  width: 200px;
  height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-content .nav .shopping-btn button:hover {
  -webkit-box-shadow: 0 5px 5px #404040;
          box-shadow: 0 5px 5px #404040;
}

.header .header-content .title {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  width: 1170px;
}

.header .header-content .title h3 {
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 68px;
  letter-spacing: 2.04px;
  line-height: 72px;
  max-width: 385px;
  margin-bottom: 50px;
}

.header .header-content .title .btn button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  border: 4px solid #ffffff;
  width: 240px;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-content .title .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header-content .title .btn button:hover {
  color: #404040;
}

.header .header-content .title .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.header .anchor {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.header .anchor a .fas {
  font-family: 'fa-solid-900';
  background: #004cff;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.about {
  padding: 50px 0;
}

.about .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.about .about-wrap:last-of-type {
  margin-bottom: 0;
}

.about .about-wrap .block {
  margin-left: 50px;
  cursor: pointer;
  position: relative;
}

.about .about-wrap .block:first-of-type {
  margin-left: 0;
}

.about .about-wrap .one {
  position: relative;
  overflow: hidden;
}

.about .about-wrap .one:hover::before {
  display: block;
}

.about .about-wrap .one:hover .overlay {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .about-wrap .one::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 76, 255, 0.8);
  display: none;
}

.about .about-wrap .one .overlay {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

.about .about-wrap .one .overlay .overlay-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .about-wrap .one .overlay .overlay-wrap .block {
  max-width: 380px;
}

.about .about-wrap .one .overlay .overlay-wrap .block h5 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 61px;
  letter-spacing: 2.04px;
}

.about .about-wrap .one .overlay .overlay-wrap .offer {
  max-width: 150px;
  margin-top: 50px;
}

.about .about-wrap .one .overlay .overlay-wrap .offer p {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 42px;
}

.about .about-wrap .one .overlay .overlay-wrap .offer h5 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 78px;
  line-height: 70px;
}

.about .about-wrap .two {
  position: relative;
  overflow: hidden;
}

.about .about-wrap .two:hover::before {
  display: block;
}

.about .about-wrap .two:hover .overlay {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .about-wrap .two::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 76, 255, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.about .about-wrap .two .overlay {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-600px);
          transform: translateY(-600px);
}

.about .about-wrap .two .overlay .overlay-wrap .block {
  text-align: center;
}

.about .about-wrap .two .overlay .overlay-wrap .block h5 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 61px;
  letter-spacing: 2.04px;
}

.about .about-wrap .two .overlay .overlay-wrap .offer {
  margin: auto;
  max-width: 150px;
  margin-top: 50px;
  text-align: center;
}

.about .about-wrap .two .overlay .overlay-wrap .offer p {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 42px;
}

.about .about-wrap .two .overlay .overlay-wrap .offer h5 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 78px;
  line-height: 70px;
}

.product {
  padding: 50px 0;
}

.product .title {
  text-align: center;
}

.product .title h3 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 52px;
}

.product .nav {
  text-align: center;
  margin-top: 5px;
}

.product .nav a {
  color: #ffffff;
  margin-left: 40px;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product .nav a:hover {
  color: #004cff;
}

.product .nav a:first-of-type {
  margin-left: 0;
}

.product .product-line {
  background: #A4A4A4;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 100%;
  height: 1px;
}

.product .product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product-wrap .block {
  width: 340px;
  height: 500px;
  background: #ffffff;
}

.product .product-wrap .block .content {
  text-align: center;
  margin-top: 30px;
}

.product .product-wrap .block .content p {
  color: #262626;
  font-size: 21px;
}

.product .product-wrap .block .content .price {
  color: #004cff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

.blog {
  padding: 50px 0;
}

.blog .blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.blog .blog-wrap img {
  height: 100%;
}

.blog .blog-wrap .img {
  margin-left: 45px;
  position: relative;
}

.blog .blog-wrap .img img {
  height: 100%;
}

.blog .blog-wrap .img .overlay {
  position: absolute;
  top: 75px;
  left: 420px;
}

.blog .blog-wrap .img .overlay p {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 51px;
  color: #262626;
  text-transform: uppercase;
}

.blog .blog-wrap .img .overlay .price {
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 94px;
  width: 180px;
  line-height: 85px;
}

.blog .blog-form {
  margin: auto;
  position: relative;
  width: 1350px;
  text-align: center;
}

.blog .blog-form::before {
  position: absolute;
  content: '';
  background: rgba(0, 76, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog .blog-form img {
  width: 1350px;
}

.blog .blog-form .form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog .blog-form .form h4 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 96px;
}

.blog .blog-form .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}

.blog .blog-form .form form input {
  width: 720px;
  height: 65px;
  background: #ffffff;
  padding-left: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.blog .blog-form .form form input::-webkit-input-placeholder {
  color: #707070;
}

.blog .blog-form .form form input:-ms-input-placeholder {
  color: #707070;
}

.blog .blog-form .form form input::-ms-input-placeholder {
  color: #707070;
}

.blog .blog-form .form form input::placeholder {
  color: #707070;
}

.blog .blog-form .form form .btn button {
  background: #004cff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  width: 180px;
  height: 65px;
}

.test {
  padding: 50px 0;
}

.test .test-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test .test-wrap img {
  width: 100%;
  height: 100%;
}

.contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-wrap .block h5 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact .contact-wrap .block .about {
  padding: 0;
  margin-bottom: 45px;
}

.contact .contact-wrap .block .about p {
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

.contact .contact-wrap .block .follow .social a {
  margin-left: 15px;
}

.contact .contact-wrap .block .follow .social a:first-of-type {
  margin-left: 0;
}

.contact .contact-wrap .block .follow .social a .fab {
  font-family: 'fa-brands-400';
  color: #ffffff;
  background: #004cff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .contact-wrap .block .follow .social a .fab:hover {
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
}

.contact .contact-wrap .information a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .contact-wrap .information a:hover {
  color: #004cff;
}

.contact .contact-wrap .returns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .contact-wrap .returns a:hover {
  color: #004cff;
}

.contact .contact-wrap .address .logo {
  margin-bottom: 10px;
}

.contact .contact-wrap .address p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

.contact .contact-wrap .address .check {
  margin-top: 10px;
}

.contact .contact-wrap .address .check a {
  margin-left: 20px;
}

.contact .contact-wrap .address .check a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .contact-wrap .address .check a img:hover {
  -webkit-box-shadow: 0 0 20px #004cff;
          box-shadow: 0 0 20px #004cff;
}

.contact .contact-wrap .address .check a:first-of-type {
  margin-left: 0;
}

.contact .contact-line {
  background: #A4A4A4;
  margin: 50px 0;
  width: 100%;
  height: 1px;
}

.footer {
  padding-bottom: 50px;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .block a {
  font-size: 18px;
  color: #b2b2b2;
  letter-spacing: 0.9px;
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-wrap .block a:first-of-type {
  margin-left: 0;
}

.footer .footer-wrap .block a:hover {
  color: #004cff;
}

.footer .footer-wrap .block p {
  font-size: 18px;
  color: #b2b2b2;
  letter-spacing: 0.9px;
}
/*# sourceMappingURL=style.css.map */